<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
     <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="D-und-O-Feed" value="https://pkgs.dev.azure.com/EnergyAg/_packaging/D-und-O-Feed/nuget/v3/index.json" />
	<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
	<add key="Framework-Packages" value="https://pkgs.dev.azure.com/EnergyAg/_packaging/Framework-Packages/nuget/v3/index.json" />

  </packageSources>
</configuration>